<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 추천하기!</title>
</head>
<body>
    
    <!-- {% extends "layouts/base.html" %} -->

    <!-- {% block title %} Contact US {% endblock %}  -->
    
    <!-- {% block body_class %} contact-us {% endblock %} -->
    
    <!-- Specific Page CSS goes HERE  -->
    <!-- {% block stylesheets %}{% endblock stylesheets %} -->
    
    <!-- {% block content %} -->
    
      <!-- {% include 'includes/navigation.html' %}  -->
    
      <section>
        <div class="page-header min-vh-100">
          <div class="container">
            
              <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                <h3 class="text-white text-primary mb-0"><p1>Top 30</p1></h3>
                  </div>
                  </div>
                  <body>
                  <div class="card-body">
                    <p1 class="pb-3">
                      <h4>지금 가장 핫한 맛집 리스트를 만나보세요</h4>
                    </p1>

                      <!-- {% for info in infos %}
                      <tr>
                        <td>{{ info.pname }}</td>
                        <td>{{ info.uphpareatitle }}</td>
                        <td>{{ info.hpareatitle }}</td>
                        <td>{{ info.hpschcatenm }}</td>
                        <td>{{ info.mcatenm }}</td>
                        <td>{{ info.cmt }}</td>
                        <td>{{ info.addr2 }}</td>
                        <td>{{ info.score }}</td>
                        <td><img src= {{ info.photo }} width = '150' height = '150'></td>
                      </tr>
                      {% endfor %} -->

                  </div>
                </body>
              </div>
            </div>
            
          </div>
        </div>
      </section>
    
    <!-- {% endblock content %} -->
    
    <!-- Specific Page JS goes HERE  -->
    <!-- {% block javascripts %}{% endblock javascripts %} -->
           
</body>
</html>